<!DOCTYPE html>
<html>
<head>
    <title>Autores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% include 'include/upper_menu.html' %}
    <main class="content">
    teste
    </main>
    {% include 'include/footer.html' %}
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>
